<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h3>Add a new list!</h3>
            <form class="form-horizontal">
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center" ng-model="newListName.ListName" autofocus />
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createList()">Add List</button>
                </div>
            </form>
        </div>
    </div>
</div>
